body {
    background-color: var(--cor-azul-claro);
}

.bg-amarelo {
    background-color: var(--cor-amarelo);
}

.bg-verde {
    background-color: var(--cor-verde);
}

.bg-vermelho {
    background-color: var(--cor-vermelho);
}

.border-vermelho {
    border: solid var(--cor-vermelho) 5px;
}

.decoration-vermelho {
    text-decoration: var(--cor-vermelho);
}

.border-laranja-escuro {
    border: solid var(--cor-laranja-escuro) 3px;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--cor-laranja-claro);
    border-radius: 10px;
    animation: all 5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--cor-laranja-escuro);
}
