.navbar {
    background-color: var(--cor-roxo);
    transition: all 0.1s ease-in-out;
}

.menu-nav:hover {
    color: var(--cor-laranja-escuro);
}

.icon {
    fill: white;
    transition: all 0.1s ease-in-out;
}

.icon:hover {
    fill: var(--cor-laranja-escuro);
}

.search {
    transition: all 0.1s ease-in-out;
}

.search:hover {
    background-color: rgba(64, 64, 64, 0.2);
}

.shopcart-icon-number {
    background-color: var(--cor-vermelho);
}